<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Team Invisible</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section>
      <div class="row">
        <h1>Team <a  class="highlight">Invisible</a></h1>
        <p></p>
        <a href="/" class="text-center" >Home</a>
      </div>
      <div class="row">
        <div class="column">
            <div class="card">
              <div class="img-container">
                <img src=" /img/srujan.jpeg" />
              </div>
              <h3>T Sai Srujan</h3>
              <p>Founder-Developer</p>
              <div class="icons">
                <a href="<%=sai.twitter%>" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="<%=sai.linkedin%>" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="<%=sai.github%>" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="<%=sai.mail%>" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
         
        <!-- Column 1-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="/img/raja.jpg" />
            </div>
            <h3>N Rajashekar</h3>
            <p>Developer</p>
            <div class="icons">
              <a href="<%=raja.twitter%>" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="<%=raja.linkedin%>" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="<%=raja.github%>" target="_blank">
                <i class="fab fa-github"></i>
               
              <a href="<%=raja.mail%>" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Column 2-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="/img/vamshi.jpg" />
            </div>
            <h3>P Vamshi Krishna</h3>
            <p>Front-end Developer</p>
            <div class="icons">
              <a href="<%= vamshi.twitter%>" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="<%=vamshi.linkedin%>" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="<%=vamshi.github%>" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="<%=vamshi.mail%>" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Column 3-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src=" /img/srimith.jpeg" />
            </div>
            <h3>V Srimith</h3>
            <p>full stack Developer</p>
            <div class="icons">
              <a href="<%=srimith.twitter%>" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="<%=srimith.linkedin%>" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="<%=srimith.github%>" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="<%=srimith.mail %>" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      
          <div class="column">
            <div class="card">
              <div class="img-container">
                <img src=" /img/pramod.jpeg" />
              </div>
              <h3>S Pramod</h3>
              <p>Back-end Developer</p>
              <div class="icons">
                <a href="<%=pramod.twitter%>" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="<%=pramod.linkedin%>" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="<%=pramod.github%>" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="<%=pramod.mail%>" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>